@font-face {
  font-family: "Sono-Bold";
  src: url("../../../../src/assets/fonts/Sono-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Sono-ExtraBold";
  src: url("../../../../src/assets/fonts/Sono-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "Sono-ExtraLight";
  src: url("../../../../src/assets/fonts/Sono-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "Sono-Light";
  src: url("../../../../src/assets/fonts/Sono-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Sono-Medium";
  src: url("../../../../src/assets/fonts/Sono-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Sono-Regular";
  src: url("../../../../src/assets/fonts/Sono-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Sono-SemiBold";
  src: url("../../../../src/assets/fonts/Sono-SemiBold.woff2") format("woff2");
}
.header-home-container {
  margin: 0;
  background-color: #000;
  color: #FFF;
  display: flex;
}

.header-dashboard-container {
  display: flex;
  padding: 5px 35px;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.0823529412);
  color: #FFF;
}

.header-dashboard-user {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 145px;
  height: 55px;
  padding: 5px 10px;
}
.header-dashboard-user p:first-child {
  font-family: "Sono-Medium";
  font-size: 20px;
}
.header-dashboard-user p:last-child {
  font-family: "Sono-Light";
  font-size: 16px;
}

.header-dashboard-img {
  display: flex;
  align-items: center;
  height: 75px;
  width: 75px;
}
.header-dashboard-img img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

.footer-dashboard-container {
  display: flex;
  position: fixed;
  bottom: 0px;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  gap: 70px;
  background-color: #262626;
  height: 60px;
  width: 100%;
  padding: 5px 5px;
  transition: transform 1s ease;
  transform: translateY(100%);
}

.show {
  transform: translateY(0);
}

.footer-dashboard-icon {
  display: flex;
  align-items: center;
  height: 30px;
  width: 30px;
}
.footer-dashboard-icon img {
  width: 30px;
  height: 30px;
}

.footer-dashboard-icon:nth-child(3) {
  width: 33px;
  height: 33px;
}
.footer-dashboard-icon:nth-child(3) img {
  width: 33px;
  height: 33px;
}

.main-dashboard-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 24px;
  padding: 25px 25px;
}

.main-dashboard-title {
  height: 80px;
  width: 280px;
  display: flex;
  align-items: center;
  padding: 0px 15px;
}
.main-dashboard-title p {
  color: #FFF;
  font-family: "Sono-SemiBold";
  font-size: 32px;
}

.main-dashboard-block {
  background-color: rgba(255, 255, 255, 0.25);
  height: 130px;
  width: 130px;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 15px;
  color: #FFF;
}
.main-dashboard-block p:nth-child(2) {
  font-family: "Sono-Regular";
  font-size: 16px;
}
.main-dashboard-block p:last-child {
  font-family: "Sono-Light";
  font-size: 10px;
}

.main-dashboard-block-img-a {
  background-color: #EC3A0A;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
}
.main-dashboard-block-img-a img {
  width: 30px;
  height: 30px;
}

#block-a {
  grid-column: span 4/span 4;
}

#block-1a {
  grid-column: span 2/span 2;
  grid-row: span 2/span 2;
  grid-row-start: 2;
}

#block-2a {
  grid-column: span 2/span 2;
  grid-row: span 2/span 2;
  grid-column-start: 3;
  grid-row-start: 2;
}

#block-b {
  grid-column: span 4/span 4;
  grid-row-start: 4;
}

#block-1b {
  grid-column: span 2/span 2;
  grid-row: span 2/span 2;
  grid-row-start: 5;
}

#block-2b {
  grid-column: span 2/span 2;
  grid-row: span 2/span 2;
  grid-column-start: 3;
  grid-row-start: 5;
}

#block-3b {
  grid-column: span 2/span 2;
  grid-row: span 2/span 2;
  grid-row-start: 7;
}

#block-4b {
  grid-column: span 2/span 2;
  grid-row: span 2/span 2;
  grid-column-start: 3;
  grid-row-start: 7;
}

.header-folders-container {
  display: flex;
  padding: 5px 0px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.0823529412);
  gap: 50px;
}

.header-folders-title {
  color: #FFF;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-folders-title p {
  font-family: "Sono-Bold";
  font-size: 16px;
}

#header-folders-title-a {
  border-bottom-color: #EC3A0A;
  border-bottom-style: solid;
  border-bottom-width: 3px;
}

#header-folders-title-b {
  border-bottom-color: #EC3A0A;
  border-bottom-style: none;
  border-bottom-width: 3px;
}

.main-folders-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 30px;
  justify-items: center;
  align-items: center;
  padding: 10px 10px;
}

.main-folders-search {
  height: 50px;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.15);
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0px 20px;
  color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}
.main-folders-search img {
  width: 25px;
  height: 25px;
}
.main-folders-search input {
  width: 100%;
  right: 100px;
  border: 0;
  outline: none;
  background-color: transparent;
  color: white;
  font-family: "Sono-ExtraLight";
  font-size: 14px;
}

.main-folders-block {
  background-color: rgba(255, 255, 255, 0.25);
  height: 140px;
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: white;
  border-radius: 10%;
}
.main-folders-block img {
  height: 70px;
  width: 70px;
}
.main-folders-block p {
  font-family: "Sono-Light";
  font-size: 16px;
}

#folder-block-a {
  grid-column: span 4/span 4;
  grid-column-start: 1;
  grid-row-start: 1;
}

#folder-block-1 {
  grid-column: span 2/span 2;
  grid-row: span 2/span 2;
  grid-column-start: 1;
  grid-row-start: 2;
}

#folder-block-2 {
  grid-column: span 2/span 2;
  grid-row: span 2/span 2;
  grid-column-start: 3;
  grid-row-start: 2;
}

#folder-block-3 {
  grid-column: span 2/span 2;
  grid-row: span 2/span 2;
  grid-column-start: 1;
  grid-row-start: 4;
}

#folder-block-4 {
  grid-column: span 2/span 2;
  grid-row: span 2/span 2;
  grid-column-start: 3;
  grid-row-start: 4;
}

#folder-block-5 {
  grid-column: span 2/span 2;
  grid-row: span 2/span 2;
  grid-column-start: 1;
  grid-row-start: 6;
}

#folder-block-6 {
  grid-column: span 2/span 2;
  grid-row: span 2/span 2;
  grid-column-start: 3;
  grid-row-start: 6;
}

#folder-block-7 {
  grid-column: span 2/span 2;
  grid-row: span 2/span 2;
  grid-column-start: 1;
  grid-row-start: 8;
}

#folder-block-8 {
  grid-column: span 2/span 2;
  grid-row: span 2/span 2;
  grid-column-start: 3;
  grid-row-start: 8;
}

.main-folders-menu-container-open {
  display: none;
  position: fixed;
  z-index: 1000;
  bottom: 80px;
  right: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: #FFF;
  width: 200px;
  height: 200px;
  border-radius: 30px;
}

.main-folders-menu-option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.main-folders-menu-option img {
  width: 30px;
  height: 30px;
}
.main-folders-menu-option p {
  color: #000;
  font-family: "Sono-Bold";
  font-size: 14px;
}

.main-folders-menu-container-close {
  display: flex;
  position: fixed;
  z-index: 1000;
  bottom: 80px;
  right: 20px;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  width: 70px;
  height: 70px;
  border-radius: 15px;
}
.main-folders-menu-container-close img {
  width: 40px;
  height: 40px;
}

.main-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.main-login-ID {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Sono-Regular";
  font-size: 14px;
  color: #FFF;
}
.main-login-ID div {
  display: flex;
  width: 300px;
  height: 40px;
  border-style: solid;
  border-color: #EC3A0A;
  border-radius: 5px;
  padding: 0px 10px;
}
.main-login-ID div input {
  width: 100%;
  border: 0;
  outline: none;
  background-color: transparent;
  color: #FFF;
  font-family: "Sono-ExtraLight";
  font-size: 18px;
}

.main-login-PW {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.main-login-PW label {
  font-family: "Sono-Regular";
  font-size: 14px;
  color: #FFF;
}
.main-login-PW div {
  display: flex;
  width: 300px;
  height: 40px;
  border-style: solid;
  border-color: #EC3A0A;
  border-radius: 5px;
  padding: 0px 10px;
}
.main-login-PW div input {
  width: 100%;
  border: 0;
  outline: none;
  background-color: transparent;
  color: #FFF;
  font-family: "Sono-ExtraLight";
  font-size: 18px;
}

.main-login-BT {
  position: relative;
  top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EC3A0A;
  width: 150px;
  height: 50px;
  border-radius: 15px;
}
.main-login-BT input {
  border: 0;
  outline: none;
  background-color: transparent;
  width: 80%;
  height: 80%;
  color: #FFF;
  font-family: "Sono-Medium";
  font-size: 16px;
}

#main-login-FPW {
  position: relative;
  left: 150px;
  color: #9B2211;
  font-family: "Sono-Light";
  font-size: 14px;
}

.header-login-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px 20px;
}

#header-login-img {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #EC3A0A;
  border-radius: 50%;
}

#header-login-title {
  display: flex;
  justify-content: center;
  color: #FFF;
  font-family: "Sono-Bold";
  font-size: 20px;
}

.main-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
  gap: 40px;
  height: 1000px;
}

.main-info-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  color: #FFF;
  font-family: "Sono-Bold";
  font-size: 20px;
}
.main-info-user div {
  background-color: #EC3A0A;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.main-info-text {
  width: 100%;
  color: #FFF;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  gap: 10px;
}
.main-info-text h3 {
  font-family: "Sono-Bold";
  font-size: 18px;
}
.main-info-text div {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0px 30px;
  font-family: "Sono-Regular";
  font-size: 14px;
}
.main-info-text div img {
  width: 50px;
  height: 50px;
}

.header-info-container {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.0823529412);
  height: 90px;
}

.header-info-logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-info-logo img {
  height: 75px;
  width: 75px;
}
.header-info-logo p {
  font-family: "Sono-ExtraLight";
  font-size: 20px;
  color: #FFF;
}

* {
  margin: 0;
}

body {
  background-color: #000;
}

/*# sourceMappingURL=style.css.map */
