.main-folders-container{
    display: flex;
    width: 100%;
    @media (min-width: 1024px){
        height: 85vh;
    }
}

.main-folder-principal{
    width: 100%;
    @media (min-width: 1024px){
        height: 100%;
        width: 80%;
        overflow: scroll;
    }
}

.main-folders-search{
    display: none;
    align-items: center;
    height: 50px;
    width: 80%;
    margin: 0px 10px;
    background-color: var(--background-color-page);
    gap: 30px;
    color: var(--text-color);
    border-radius: 15px;
    img{
        position: relative;
        left: 20px;
        width: 25px;
        height: 25px;
    }
    input{
        width: 100%;
        right: 100px;
        border: 0;
        outline: none;
        background-color: transparent;
        color: var(--text-color);
        font-family: 'Sono-ExtraLight';
        font-size: 14px;
    }

}

.main-folders-block-a{
    background-color: var(--background-color-items);
    height: 140px;
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: var(--text-color);
    border-radius: 10px;
    img{
        height: 70px;
        width: 70px;
    }

    p{
        font-family: 'Sono-Light';
        font-size: 16px;
    }

    @media (min-width: 1440px){
        width: 250px;
        height: 140px;

        img{
            height: 80px;
            width: 80px;
        }

        p{
            font-family: 'Sono-Light';
            font-size: 18px;
        }

    }
}

.main-folders-block-b{
    background-color: var(--background-color-items);
    height: 140px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    border-radius: 10px;

    @media (min-width: 1024px){
        width: 90%;
        height: 100px;
        justify-content: space-between;
    }
    
}

.main-folders-block-b-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    img{
        height: 70px;
        width: 70px;
    }

    p{
        font-family: 'Sono-Light';
        font-size: 16px;
        color: var(--text-color);
    }

    @media (min-width: 1024px){
        flex-direction: row;
    }

    @media (min-width: 1440px){
        p{
            font-size: 18px;
        }
    }
}

.main-folders-block-b-txt{
    display: none;
    width: 20%;
    justify-content: center;

    p{
        font-family: 'Sono-Light';
        font-size: 16px;
        color: var(--text-color);
    }

    @media (min-width: 1024px){
        display: flex;
    }

    @media (min-width: 1440px){
        p{
            font-size: 18px;
        }
    }
}