.menu-dashboard-student-container{
    display: none;
    @media (min-width: 1281px){
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 350px;
        background-color: #ffffff15;
    }
}

.menu-dashboard-student-actions{ 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 20px;
    height: 20vh;
}

.menu-dashboard-actions-options{ 
    display: flex; 
    align-items: center;
    justify-content: center;
    color: $white; 
    gap: 10px;
    background-color: $color-7;
    height: 60px;
    width: 250px;
    border-radius: 20px;

    p{  
        font-family: 'Sono-Regular'; 
    } 
    img{ 
        width: 30px; 
        height: 30px; 
    }
}

.menu-dashboard-student-nav{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    gap: 20px;
}

.menu-dashboard-nav-options{
    display: flex;
    align-items: center;
    color: $white;
    gap: 10px;

    p{
        font-family: 'Sono-Regular';
    }
    img{
        width: 30px;
        height: 30px;
    }

}

.menu-dashboard-student-options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20vh;
    gap: 35px;
    border-style: solid;
    border-top: 2px solid $white;
    border-left: $white;
    border-right: $white;
    border-bottom: $white;
}

.menu-dashboard-options-options{

    display: flex;
    align-items: center;
    margin-left: 40px;
    color: $white;
    gap: 10px;

    p{
        font-family: 'Sono-Regular';
    }

    img{
        width: 30px;
        height: 30px;
    }
}