.menu-dashboard-student-container{
    display: none;
    @media (min-width: 1024px){
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 20%;
        background-color: var(--background-color-items);
        height: 100%;
    }

}

.menu-dashboard-student-actions{ 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 25px;
    height: 20vh;
}

.menu-dashboard-student-actions-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    color: var(--text-color);
    p{
        font-family: 'Sono-Regular';
        font-size: 16px;
    }
}

.menu-dashboard-actions-options{ 
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: $color-7;
    border: none;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;

    @media (min-width: 1024px){
        gap: 20px;
        img{ 
            width: 25px; 
            height: 25px; 
        }
    }

    @media (min-width: 1440px){
        gap: 30px;
        img{ 
            width: 30px; 
            height: 30px; 
        }
    }
}

.menu-dashboard-student-nav{ 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 20px;
    height: 20vh;
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-7;
        border-radius: 20px;
        width: 80%;
        height: 25%;
    }
}

.menu-dashboard-nav-options{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);

    p{  
        font-family: 'Sono-Regular'; 
    } 

    @media (min-width: 1024px){
        gap: 20px;
        img{ 
            width: 25px; 
            height: 25px; 
        }

        p{
            font-size: 12px;
        }
    }

    @media (min-width: 1440px){
        gap: 30px;
        img{ 
            width: 30px; 
            height: 30px; 
        }

        p{
            font-size: 14px;
        }
    }

    @media (min-width: 1920px){
        gap: 40px;
        img{ 
            width: 35px; 
            height: 35px; 
        }

        p{
            font-size: 16px;
        }
    }
}

.menu-dashboard-student-options{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    gap: 20px;
    height: 20vh;
    border-style: solid;
    border-top: 2px solid var(--text-color);
    border-left: var(--text-color);
    border-right: var(--text-color);
    border-bottom: var(--text-color);
}

.menu-dashboard-options-options{
    display: flex;
    align-items: center;
    margin-left: 40px;
    color: var(--text-color);
    gap: 10px;

    p{
        font-family: 'Sono-Regular';
    }

    @media (min-width: 1024px){
        gap: 20px;
        img{ 
            width: 25px; 
            height: 25px; 
        }

        p{
            font-size: 12px;
        }
    }

    @media (min-width: 1440px){
        gap: 30px;
        img{ 
            width: 30px; 
            height: 30px; 
        }

        p{
            font-size: 14px;
        }
    }

    @media (min-width: 1920px){
        gap: 40px;
        img{ 
            width: 35px; 
            height: 35px; 
        }

        p{
            font-size: 16px;
        }
    }
}