<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/style/style.css">
    <title>Dashboard</title>
</head>
<body>
    <header class="header-dashboard-container">
        <div class="header-dashboard-user">
            <p>Bienvenido</p>
            <p>Usuario</p>
        </div>
        <div class="header-dashboard-img">
            <img src="../assets/images/FB_IMG_1661211168594.jpg" alt="">
        </div>
    </header>
    <main class="main-dashboard-container">
        <div class="main-dashboard-title" id="block-a">
            <p>Mis Carpetas</p>
        </div>
        <div class="main-dashboard-block" id="block-1a">
            <div class="main-dashboard-block-img-a"><img src="../assets/images/usuario.png" alt=""></div>
            <p>Carpeta Personal</p>
            <p>1.5GB de 2GB</p>
        </div>
        <div class="main-dashboard-block" id="block-2a">
            <div class="main-dashboard-block-img-a"><img src="../assets/images/usuarios-alt.png" alt=""></div>
            <p>Carpeta Materias</p>
            <p>1.5GB de 2GB</p>
        </div>
        <div class="main-dashboard-title" id="block-b">
            <p>Subidos Recientemente</p>
        </div>
        <div class="main-dashboard-block" id="block-1b"></div>
        <div class="main-dashboard-block" id="block-2b"></div>
        <div class="main-dashboard-block" id="block-3b"></div>
        <div class="main-dashboard-block" id="block-4b"></div>    
    </main>
    <footer class="footer-dashboard-container">
        <div class="footer-dashboard-icon"><img src="../assets/images/casa-en-blanco.png" alt=""></div>
        <div class="footer-dashboard-icon"><img src="../assets/images/carpeta.png" alt=""></div>
        <div class="footer-dashboard-icon"><img src="../assets/images/usuario (1).png" alt=""></div>
        <div class="footer-dashboard-icon"><img src="../assets/images/salida.png" alt=""></div>
    </footer>
    <script src="../assets/scripts/script.js"></script>
</body>
</html>