<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/style/style.css">
    <title>Folders</title>
</head>
<body>
    <header class="header-folders-container">
        <div class="header-folders-title" id="header-folders-title-a"><p>Personal</p></div>
        <div class="header-folders-title" id="header-folders-title-b"><p>Materias</p></div>
    </header>
    <main class="main-folders-container">
        <div class="main-folders-search" id="folder-block-a">
            <img src="../assets/images/busqueda.png" alt="">
            <input type="text" value="Buscar">
        </div>
        <div class="main-folders-block" id="folder-block-1">
            <img src="../assets/images/carpeta.png" alt="">
            <p>Carpeta</p>
        </div>
        <div class="main-folders-block" id="folder-block-2">
            <img src="../assets/images/carpeta.png" alt="">
            <p>Carpeta</p>
        </div>
        <div class="main-folders-block" id="folder-block-3">
            <img src="../assets/images/carpeta.png" alt="">
            <p>Carpeta</p>
        </div>
        <div class="main-folders-block" id="folder-block-4">
            <img src="../assets/images/carpeta.png" alt="">
            <p>Carpeta</p>
        </div>
        <div class="main-folders-block" id="folder-block-5">
            <img src="../assets/images/carpeta.png" alt="">
            <p>Carpeta</p>
        </div>
        <div class="main-folders-block" id="folder-block-6">
            <img src="../assets/images/documento.png" alt="">
            <p>Archivo</p>
        </div>
        <div class="main-folders-block" id="folder-block-7">
            <img src="../assets/images/documento.png" alt="">
            <p>Archivo</p>
        </div>
        <div class="main-folders-block" id="folder-block-8">
            <img src="../assets/images/documento.png" alt="">
            <p>Archivo</p>
        </div>
        <div class="main-folders-menu-container">
            <img src="" alt="">
            <div class="main-folders-menu-option">
                <img src="" alt="">
                <p>Crear Carpeta</p>
            </div>
            <div class="main-folders-menu-option">
                <img src="" alt="">
                <p>Subir Archivo</p>
            </div>
        </div>
    </main>
    <footer class="footer-dashboard-container">
        <div class="footer-dashboard-icon"><img src="../assets/images/casa-en-blanco.png" alt=""></div>
        <div class="footer-dashboard-icon"><img src="../assets/images/carpeta.png" alt=""></div>
        <div class="footer-dashboard-icon"><img src="../assets/images/usuario (1).png" alt=""></div>
        <div class="footer-dashboard-icon"><img src="../assets/images/salida.png" alt=""></div>
    </footer>
</body>
</html>