<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/style/style.css">
    <title>Folders</title>
</head>
<body>
    <header class="header-folders-container">
        <div class="header-folders-title" id="header-folders-title-a"><p>Personal</p></div>
        <div class="header-folders-title" id="header-folders-title-b"><p>Materias</p></div>
    </header>
    <main class="main-folders-container">
        <div class="main-folders-search" id="folder-block-a">
            <img src="../assets/images/busqueda.png" alt="">
            <input type="text" value="Buscar">
        </div>
        <div class="main-folders-block" id="folder-block-1">
            <img src="../assets/images/carpeta.png" alt="">
            <p>Carpeta</p>
        </div>
        <div class="main-folders-block" id="folder-block-2">
            <img src="../assets/images/carpeta.png" alt="">
            <p>Carpeta</p>
        </div>
        <div class="main-folders-block" id="folder-block-3">
            <img src="../assets/images/carpeta.png" alt="">
            <p>Carpeta</p>
        </div>
        <div class="main-folders-block" id="folder-block-4">
            <img src="../assets/images/carpeta.png" alt="">
            <p>Carpeta</p>
        </div>
        <div class="main-folders-block" id="folder-block-5">
            <img src="../assets/images/carpeta.png" alt="">
            <p>Carpeta</p>
        </div>
        <div class="main-folders-block" id="folder-block-6">
            <img src="../assets/images/documento.png" alt="">
            <p>Archivo</p>
        </div>
        <div class="main-folders-block" id="folder-block-7">
            <img src="../assets/images/documento.png" alt="">
            <p>Archivo</p>
        </div>
        <div class="main-folders-block" id="folder-block-8">
            <img src="../assets/images/documento.png" alt="">
            <p>Archivo</p>
        </div>   
    </main>
    <div class="main-folders-menu-container-close">
        <img src="../assets/images/black/mas (1).png" alt="">
    </div>
    <div class="main-folders-menu-container-open">
        <div class="main-folders-menu-option">
            <img src="../assets/images/black/carpeta (1).png" alt="">
            <p>Crear Carpeta</p>
        </div>
        <div class="main-folders-menu-option">
            <img src="../assets/images/black/subir.png" alt="">
            <p>Subir Archivo</p>
        </div>
    </div>
    <div class="modal-folder-nav">
        <div class="modal-folder-container">
            <div class="modal-folder-text">
                <p>Crear Carpeta</p>
                <p>Te Encuentras en Carpeta > Subcarpeta</p>
            </div>
            <div class="modal-folder-namefolder">
                <input type="text" value="Carpeta sin Titulo">
            </div>
            <div class="modal-folder-input">
                <input type="button" value="Crear Carpeta">
            </div>
        </div>
    </div>
    <footer class="footer-dashboard-container">
        <div class="footer-dashboard-icon"><img src="../assets/images/casa-en-blanco.png" alt=""></div>
        <div class="footer-dashboard-icon"><img src="../assets/images/carpeta.png" alt=""></div>
        <div class="footer-dashboard-icon"><img src="../assets/images/usuario (1).png" alt=""></div>
        <div class="footer-dashboard-icon"><img src="../assets/images/salida.png" alt=""></div>
    </footer>
    <script src="../assets/scripts/script.js"></script>
</body>
</html>