<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/style/style.css">
    <title>Info</title>
</head>
<body>
    <header class="header-info-container">
        <div class="header-info-logo">
            <img src="../assets/images/logo.svg" alt="">
            <p>Raccon Cloud</p>
        </div>
    </header>
    <main class="main-info-container">
        <div class="main-info-user">
            <div><img src="" alt=""></div>
            <p>Nombre Completo del usuario</p>
        </div>
        <div class="main-info-text">
            <h3>Información Básica</h3>
            <div><img src="../assets/images/id-insignia.png" alt=""><p>Boleta: </p></div>
            <div><img src="../assets/images/sobre.png" alt=""><p>Email: </p></div>
            <div><img src="../assets/images/llave.png" alt=""><p>CURP: </p></div>
        </div>
    </main>
    <footer class="footer-dashboard-container">
        <div class="footer-dashboard-icon"><img src="../assets/images/casa-en-blanco.png" alt=""></div>
        <div class="footer-dashboard-icon"><img src="../assets/images/carpeta.png" alt=""></div>
        <div class="footer-dashboard-icon"><img src="../assets/images/usuario (1).png" alt=""></div>
        <div class="footer-dashboard-icon"><img src="../assets/images/salida.png" alt=""></div>
    </footer>
    <script src="../assets/scripts/script.js"></script>
</body>
</html>