<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/style/style.css">
    <title>Login</title>
</head>
<body>
    <header class="header-login-container">
        <div id="header-login-img"><img src="" alt=""></div>
        <div id="header-login-title"><h2>Ingresa Tus Datos</h2></div>
    </header>
    <main class="main-login-container">
        <form action="" method="post"></form>
            <div class="main-login-ID">
                <label for="">Identificación</label>
                <div><input type="text" value="Ingresa tu ID" name="" id=""></div>
            </div>
            <div class="main-login-PW">
                <label for="">Contraseña</label>
                <div><input type="text" value="Ingresa tu Contraseña" name="" id=""></div>
                <p id="main-login-FPW">Olvide mi Contraseña</p>
            </div>   
            <div class="main-login-BT"><input type="button" value="Sign Up"></div>
        </form>
    </main>
</body>
</html>