@font-face {
    font-family: 'Sono-Bold';
    src: url('../../../../src/assets/fonts/Sono-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Sono-ExtraBold';
    src: url('../../../../src/assets/fonts/Sono-ExtraBold.woff2') format('woff2');
}
@font-face {
    font-family: 'Sono-ExtraLight';
    src: url('../../../../src/assets/fonts/Sono-ExtraLight.woff2') format('woff2');
}
@font-face {
    font-family: 'Sono-Light';
    src: url('../../../../src/assets/fonts/Sono-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'Sono-Medium';
    src: url('../../../../src/assets/fonts/Sono-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'Sono-Regular';
    src: url('../../../../src/assets/fonts/Sono-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Sono-SemiBold';
    src: url('../../../../src/assets/fonts/Sono-SemiBold.woff2') format('woff2');
}