$color-1: #FFF5ED;
$color-2: #FFE7D5;
$color-3: #FFCCA9;
$color-4: #FEAC7A;
$color-5: #FC783B;
$color-6: #FB5414;
$color-7: #EC3A0A;
$color-8: #C32B0B;
$color-9: #9B2211;
$color-10: #7D1F11;
$white: #FFF;
$black: #000;