.main-dashboard-container{
    display: flex;
    width: 100%;
    @media (min-width: 1024px){
        height: 85vh;
    }
}

.main-dashboard-principal{
    width: 100%;
    transition: width 0.5s ease;

    @media (min-width: 1024px){
        height: 100%;
        width: 80%;
        overflow: scroll;
    }
}


.main-dashboard-title{
    height: 80px;
    width: 90%;
    display: flex;
    margin: 0px 15px;
    align-items: start;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
    p{
        color: var(--text-color);
        font-family: 'Sono-SemiBold';
        font-size: 32px;
    }
}

.main-dashboard-title-description{
    display: none;

    @media (min-width: 1024px){
        display: flex;
        width: 90%;
        align-items: center;
        justify-content: space-between;
        margin: 0px 15px;
        p{
            color: var(--text-color);
            font-family: 'Sono-Regular';
            font-size: 16px;
        }
    }

}

.main-dashboard-block-img{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    p{
        font-family: 'Sono-Regular';
        font-size: 16px;
        color: var(--text-color);
    }

    img{
        background-color: $color-7;
        border-radius: 10px;
        width: 30px;
        height: 30px;
        padding: 20px;
    }

    @media (min-width: 1440px){
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 10px;
        img{
            width: 40px;
            height: 40px;
        }
        p{
            font-family: 'Sono-Regular';
            font-size: 24px;
        }
    }
}