<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/style/style.css">
    <title>Login</title>
</head>
<body>
    <header>
        <div><img src="" alt=""></div>
    </header>
    <main>
        <div>
            <p>Identificación</p>
            <div><input type="text" value="Ingresa tu ID" name="" id=""></div>
        </div>
        <div>
            <p>Contraseña</p>
            <div><input type="text" value="Ingresa tu Contraseña" name="" id=""></div>
            <p>Olvide mi Contraseña</p>
        </div>
        <div><input type="button" value=""></div>
    </main>
</body>
</html>